<?xml version="1.0" encoding="utf-8" ?>


<configuration>
  <connectionStrings>
    <add name="DBconnectionString1" connectionString ="Server=LAPTOP-ASPIRE5\SQLEXPRESS;Database=T4DDBMonitoring;User Id=sa;Password=Tr1mbl3!;Integrated Security=True; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="DBconnectionString" connectionString ="Server=LAPTOP-ASPIRE5\SQLEXPRESS;Database=T4DDBMonitoring; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  
  <appSettings>
    <!-- Yes/No -->
    <add key="freezeScreen" value="Yes" />
    <add key="SendEmails" value="No" />
    <add key="AlarmVersion" value="Yes" />


  <!-- Project settings -->
    <add key="ProjectTitle" value="Lawley Viaduct" />
    <add key="ContractTitle" value="LSC2 Lawley" />
    <add key="AlarmWindowHrs" value="6810" />
    <add key="NoOfSuccessfulReadings" value="5"/>

    <!-- SMS settings -->
    <add key="SMSTitle" value="dataFlowAlarm Test" />
    <add key="RecipientPhone1" value="+4917672997904" />
    <add key="RecipientPhone2" value="None" />
    <add key="RecipientPhone3" value="None" />
    <add key="RecipientPhone4" value="None" />
    <add key="RecipientPhone5" value="None" />
    <add key="RecipientPhone6" value="None" />
    <add key="RecipientPhone7" value="None" />
    <add key="RecipientPhone8" value="None" />
    <add key="RecipientPhone9" value="None" />

    <add key="JAGstatus" value="No" />

    <!-- Folders -->
    <add key="SystemStatusFolder" value="C:\__SystemLogs\" />
    <add key="SystemAlarmsFolder" value="C:\__SystemAlarms\" />

    <!-- Excel workbook settings -->
    <add key="ExcelPath" value="C:\_Working_drive\dataFlowAlarm\" />
    <add key="ExcelFile" value="Lawley_dataFlow_master.xlsx" />

    <add key="FirstDataRow" value="2" /><!-- First row of data in the Reference worksheet -->

    


    <!-- Excel worksheets-->
    <add key="SurveyWorksheet" value="Survey" />

    




    <!-- eMail settings  -->
    <add key="EmailFrom" value="gna.geomatics@gmail.com" />
    <add key="EmailLogin" value="gna.geomatics@gmail.com" />
    <add key="EmailPassword" value="bvsshwnvgyyeknhb" />
    <add key="EmailFrom1" value="T4DSMLGroup@gmail.com" />
    <add key="EmailLogin1" value="T4DSMLGroup@gmail.com" />
    <add key="EmailPassword1" value="MonitoringT4D" />
    <add key="EmailRecipients" value="gna.geomatics@gmail.com" />
    <add key="EmailRecipients2" value="gna.geomatics@gmail.com, robmerry@techsol.ie, igorgurich@techsol.ie" />
    <add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />
    
  </appSettings>


</configuration>